@import url("https://fonts.googleapis.com/css2?family=Dangrek&display=swap");

* {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background-color: #1a1a1a;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  color: #e4e4e4;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.whole {
  margin-top: 3vw;
}

.wave {
  background: rgba(255, 145, 0, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 8em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.header {
  align-items: center;
  display: flex;
  margin-left: 20%;
}

.logo {
  font-size: 12vw;
  margin: 0;
  margin-left: 2vw;
  color: rgba(255, 153, 0, 0.911);
}

.time {
  margin-right: 23.5vw;
  text-align: left;
  width: 5vw;
  font-size: 1.2vw;
}

.bitcoin-table {
  margin-left: 20%;
  border-collapse: collapse;
  width: 60%;
}

.bitcoin-table td {
  border: 1px solid #e4e4e4;
  background-color: #111111;
  padding: 8px;
  text-align: center;
  color: rgba(255, 153, 0, 0.911);
}

.bitcoin-table th {
  background-color: #111111;
  border: 1px solid #e4e4e4;
  padding: 8px;
  text-align: center;
  color: #e4e4e4;
}

.category {
  font-family: "Dangrek", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.loading {
  margin-top: 10%;
  border: 16px solid #e4e4e4; /* Light grey */
  border-top: 16px solid rgba(255, 153, 0, 0.911); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .whole {
    margin-top: 20vh;
  }
  .header {
    margin-left: 6%;
  }
  .logo {
    font-size: 17vw;
  }
  .time {
    margin-right: 9vw;
    width: 13vw;
    font-size: 3vw;
  }

  .bitcoin-table {
    margin-left: 5%;
    width: 90%;
  }
}
